mongo:
  image: mongo
libreboard:
  image: miurahr/libreboard
  environments:
    - VIRTUAL_HOST=example.com
    - MONGO_URL=mongodb://${MONGO_PORT_27017_TCP_ADDR}:${MONGO_PORT_27017_TCP_PORT}/libreboard
    - ROOT_URL=http://example.com
  links:
    - mongo:mongo
  ports:
    - 5555:5555
