mongo:
  image: mongo
libreboard:
  image: miurahr/libreboard
  environment:
    - MONGO_URL=mongodb://mongo:27017/libreboard
    - ROOT_URL=http://example.com
  links:
    - mongo:mongo
  volumes:
    - /tmp/libreboard-logs:/home/app/logs
  ports:
    - 5555:5555
